* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
}
.container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #ff0000;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

@keyframes scribble {
  to {
    stroke-dashoffset: 0;
  }
}
body { background: #000; }
div#stripped {
  max-width: 400px;
  margin: 0 auto;
  background: #000;
  background-image: url(/assets/img/azmalert.png);
  background-size: cover;
  font-size: 0;
}
div#stripped svg {
  background: #000;
  mix-blend-mode: darken;
}

div#stripped svg polyline {
  fill: none;
  stroke: #f00;
  stroke-width: 200;
  stroke-dasharray: 20000;
  stroke-dashoffset: 20000;
  animation: scribble 3s linear forwards;
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  div#stripped {
  background-image: url(/assets/img/azmalert.png);
  }
}